<a href="https://colab.research.google.com/github/CheYuuuu/Git/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 變量和基本數據類型

In [41]:
# 數據7大類型
# Bool, Number, String, Tuple, list, Set, Dictionary

In [42]:
# 可同時為多個變量賦值
# str1, str2, str3 = "A", "B", "C" 
# x, y, z = 1, 2, 3
# a = b = c = 1

In [43]:
# Bool
# True, False
# string = "12342314"
# print(string.isalnum()) 
# print(string.isalpha()) 
# print(string.isupper())

In [44]:
# Number
# int, float, complex
# a, b, c, d = True, 20, 5.5, 4+3j
# print(type(a), type(b), type(c), type(d))
# universe_age = 14_000_000_000 # 數字中畫底線，常數字可讀性高
# MAX_CONNECTIONS = 5000 # 恆定沒有要改的數字，其變量習慣大寫

In [45]:
# 16進制，8進制
# number = 0xA0F # 十六进制
# print(number) 
# number = 0o37 # 八进制
# print(number)

In [46]:
#格式化
# first_name, last_name = "Enoch", "Zheng"
# full_name = f"{first_name} {last_name}" 
# full_name2 = f"{first_name.upper()} {last_name.upper()}"
# full_name3 = "My name is {}, {}".format (first_name, last_name)
# full_name4 = "{}\'s last name is {}"
# print(full_name4.format(first_name, last_name))
# print(f"{first_name}\'s last name is {last_name}")

In [47]:
# 轉譯符號
# {\n=換行, \t=Tab, \加上任何符號就會出現該符號}
# print("I\'m learning\nPython.")
# print(r"\\\\t\\")

In [48]:
# sting 
# str = 'TuringPlanet'
# print (str + "ENOCH") # 連接 -> TuringPlanetEnoch
# print (str * 2)       # 輸出两次 -> TuringPlanetTuringPlanet 
# print (str[0:-1])     # 輸出第一個到倒數第二个-> TuringPlane
# print (str[0])        # 輸出第一个 -> T
# print (str[2:5])      # 輸出從第三到第五個 -> rin
# print (str[2:])       # 輸出從第三到最後 -> ringPlanet

In [49]:
# 常用數學函示 import math
# x=1
# abs(x) # 絕對值
# fabs(x) # 絕對值(有小數點)
# ceil(x) # 無條件進位
# floor(x) # 無條件捨去
# round(x, n) # 4捨5入，若有n則為小數點後位數
# exp(x) # 自然對數e**x
# log(x) # 對數
# log10(x) # 10為底的對數
# sqrt(x) # 平方根

# 序列數據類型

In [61]:
# List
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
#string也能這樣用
print(letters[::-1])
print(letters[::-2])
print(letters[2:-2])
print(letters[:-1])
print(letters[:-2])
lettersCOPY = letters.copy() # copy
lettersCOPY[-2] = 2019 #更改值
lettersCOPY.insert(1, 'insert') #增加在index
lettersCOPY.append('append') #增加在後面
lettersCOPY.remove('a') #移除值
letters.sort() #排序
sorted(letters) #排序
letters.reverse() #倒排序
del lettersCOPY #刪除list

['g', 'f', 'e', 'd', 'c', 'b', 'a']
['g', 'e', 'c', 'a']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e']

In [ ]:
# Tuple
dimensions = (200, 50) 
dimensions[0] = 250 # error. 不能修改
dimensions = (200, 50)
dimensions = (400, 10) # 但可以重新賦值
del dimensions #可直接被刪除

In [2]:
# dictionary 
student1 = {'gender': 'male', 'age': 18} #字典形式
student1['gender']                       #取指定key得值 []內填key的name
student1.get('gender')                   #取指定key得值
student1.keys()                          #顯示所有keys
student1.values()                        #顯示所有values
student1[0] = 'female'                   #增加新的key and value []內並非index
del student1['gender']                   #刪除字典內某元素
student1.clear()                         #刪除字典內所有元素
del student1                             #删除字典

male
18
{'gender': 'male', 'age': 18, 0: 'female'}

In [6]:
# Looping through all key-value pairs
user = {'username': 'Alex', 'first': 'dada', 'last': 'wang',}

for key, value in user.items():
  print(f"Key: {key}, Value: {value}")
print()
# Looping through all the keys in a dictionary
for key in user.keys():
  print(key + ": " + user.get(key),end=', ')
print()
# Looping through a dictionary's keys in a pariticular order
for key in sorted(user.keys()):
  print(key,end=', ')
print()
# Looping through all values in a dictionary
for value in user.values():
  print(value.title(), end=', ')

Key: username, Value: Alex
Key: first, Value: dada
Key: last, Value: wang

username: Alex, first: dada, last: wang,
first, last, username,
Alex, Dada, Wang,

In [8]:
# A List in a Dictionary
pizza = {'crust': 'thick', 'toppings': ['mushrooms', 'extra cheese'],}

print(f"You ordered a {pizza['crust']}-crust pizza "
      "with the following toppings:")
for topping in pizza['toppings']:
  print("\t" + topping)

# A Dictionary in a Dictionary
users = {'Enoch': {'full_name': 'Xiao Wang','age': 25,},
    'Fandy': {'full_name': 'Wang Hong','age': 25,} }
    
for name, information in users.items():
  print(f"{name}: {information['full_name']} is {information['age']} years old.")

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese
Enoch: Xiao Wang is 25 years old.
Fandy: Wang Hong is 25 years old.

In [17]:
#set 無序且不重複的序列
new_set = set(value) #將value轉成set
colors = {'red', 'green', 'blue', 'red'} #print = {'red', 'green', 'blue'}
a = set('abcdr')
b = set('aclzm')
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中都包含的元素 
print(a & b) # 集合a和b中都包含的元素
print(a ^ b) # 不同时包含于a和b的元素
colors.add('purple') #若有重複則不增加
colors.update({1,3}, [5,2]) #也可以用来添加元素，且参数可以是list, tuple, dictionary
colars.remove('purple')  #刪除，元素不在會報錯
colors.discard('orange') #刪除，元素不在不會報錯

{'r', 'b', 'd'}
{'z', 'd', 'm', 'r', 'b', 'a', 'c', 'l'}
{'c', 'a'}
{'r', 'b', 'd', 'l', 'z', 'm'}

In [16]:
new_set = set(("Google", "Facebook", "Amazon"))
new_set.update({1, 3})
print(new_set)

{1, 3, 'Google', 'Facebook', 'Amazon'}